# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/node_modules
.idea
/dist
/.parcel-cache
/public/weights

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
